watch_file **/*.nix
watch_file rust-toolchain.toml
use flake

watch_file .env.op

if [[ -f .env.op && ( ! -f .direnv/op.env || .env.op -nt .direnv/op.env ) ]]; then
  echo "Injecting secrets from op into .direnv/op.env"
  cat .env.op | op inject >.direnv/op.env
fi

[[ -f .env ]] && dotenv .env
[[ -f .direnv/op.env ]] && dotenv .direnv/op.env
